<%= content_for :dashboard do %>
  Settings
<% end %>
<div>
  <div class="flex px-4 sm:px-0 items-center justify-between">
    <div class="">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Profile Information</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Edit Personal details.</p>
    </div>
    <div>
      <img class="rounded w-40 h-40" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="Extra large avatar">
    </div>
  </div>
  <div class="px-4 mt-4 sm:px-0">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 items-center">
          <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
          <input type="text" placeholder="John Doe" class="block w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" />
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 items-center">
          <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
          <%= f.email_field :email, autocomplete: "email", class: "block w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 items-center">
          <dt class="text-sm font-medium leading-6 text-gray-900">Password</dt>
          <div>
            <%= f.password_field :password, autocomplete: "new-password", class: "block w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
          </div>
          <span class="text-xs text-gray-500">Leave blank if you don't want to change it.
            <% if @minimum_password_length %>
              <br>
              <em><%= @minimum_password_length %> characters minimum</em>.
            <% end %>
          </span>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 items-center">
          <dt class="text-sm font-medium leading-6 text-gray-900">Password confirmation</dt>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
          </div>
        </div>
        <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 items-center">
          <dt class="text-sm font-medium leading-6 text-gray-900">Current password</dt>
          <div>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "block w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
          </div>
          <span class="text-xs text-gray-500">We need your current password to confirm your changes.
          </span>
        </div>
      </dl>
      <div class="px-4 sm:px-0">
        <%= f.submit "Update", class: "px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" %>
      </div>
    </div>
  <% end %>
</div>
