<div class="w-full max-h-full overflow-y-auto p-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">All Users to friend</h5>
  </div>
  <div class="flow-root">
    <% @users.desc.each do |user| %>
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <% if user.avatar.attached? %>
                <%= image_tag user.avatar, class: "w-8 h-8 rounded-full" %>
              <% else %>
                <div class="w-8 h-8 rounded-full object-cover shadow-xl bg-gray-200 flex justify-center items-center">
                  <span class="text-sm font-extrabold">
                    <%= user.name_initials  %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                <%= link_to profile_path(user) do %>
                  <%= user.full_name_titleize  %>
                <% end %>
              </p>
              <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                <%= user.email  %>
              </p>
            </div>
            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
              <% if current_user.following?(user) %>
                <%= button_to 'Unfolow', unfollow_path(user), class: 'bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-2 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150', data: { turbo_frame: "follow_btn", turbo_action: "update" }  %>
              <% else %>
                <%= button_to 'Friend', follow_path(user), class: 'bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-2 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150', data: { turbo_frame: "follow_btn", turbo_action: "update" }  %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
