<article id="<%= dom_id post %>" class="p-4 mb-4 text-base bg-white rounded-lg dark:bg-gray-900">
  <div class="flex items-center gap-4 justify-between">
    <div class="flex flex-row items-center gap-4">
      <%= image_tag post.user.avatar, class: "w-14 h-14 rounded-full object-cover" %>
      <div>
        <div class="text-base font-semibold text-black">
          <%= post.user.full_name_titleize %>
        </div>
        <div class="text-xs font-light">
          <%= time_ago_in_words(post.created_at) %> ago
        </div>
      </div>
    </div>
  </div>
  <div class=" text-lg m-4 px-7">
    <p>
      <%= post.body %>
    </p>
  </div>
  <div class="flex items-center gap-2 px-10 justify-between">
    <div class="flex items-center">
      <button type="button" class=" hover:bg-pink-50 hover:text-pink-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
        <svg class="w-5 h-5 text-black hover:fill-pink-600 hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 19">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"/>
        </svg>
        <span class="sr-only">like</span>
      </button>
      <span class="text-xs font-light">
        0
      </span>
    </div>
    <div class="text-xs font-light">
      <span >
        0
      </span>
      comments
    </div>
  </div>
  <div class="flex justify-end mt-2">
    <% if can? :manage, post %>
      <div class="inline-flex rounded-md shadow-sm" role="group">
        <%= link_to  "Edit", edit_post_path(post), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" %>
        <%= button_to "Delete", post, method: :delete, data:{turbo_confirm: "Are you sure?"}, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" %>
      <% end %>
    </div>
  </div>
</article>
