<%= content_for :dashboard do %>
  Post Show
<% end %>
<%= render @post %>
<%= form_with model: [ @post, @comment] do |form| %>
  <h3 class="text-xl font-bold">
    Write Comment:
  </h3>
  <%= render 'shared/errors', object: @comment %>
  <div class="m-2 p-8" data-controller="character-counter" data-character-counter-countdown-value="true">
    <%= form.text_area :body, class: "block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", data: {controller: "textarea-autogrow", character_counter_target: "input" }, maxlength: 1000 %>
    <p class="text-xs mt-4">
      There are
      <strong data-character-counter-target="counter"></strong> characters remaining.
    </p>
  </div>
  <div class="flex justify-end">
    <%= form.submit class: "mt-2 bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" %>
  </div>
<% end %>
<%= render partial: 'comments/comment', collection: @post.comments.includes([:user]).order(created_at: :desc) %>
